/* contents:
photo
introduction
different tabs
*/


body {
    color: pink;
    font-size: 5vw;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
    flex-direction: column;
    grid-template-columns: auto;
}


