h1 {
    color: rgb(15, 42, 82);
    font-size: 50px;
    text-align: center;
    display: flex;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

#intro {
    color: rgb(15, 42, 82);
    text-align: center;
}

body {
    font-size: 15px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    background-color: white;
}

/* bar with each event name */
/* make something happen when hovered/clicked */

#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8, #div9{
    color: white;
}

#div1:hover {
    background-color: rgb(210, 221, 238);
}

#div2:hover {
    background-color: rgb(210, 221, 238);
}

#div3:hover {
    background-color: rgb(210, 221, 238);
}

#div4:hover {
    background-color: rgb(210, 221, 238);
}

#div5:hover {
    background-color: rgb(210, 221, 238);
}

#div6:hover {
    background-color: rgb(210, 221, 238);
}

#div7:hover {
    background-color: rgb(210, 221, 238);
}

#div8:hover {
    background-color: rgb(210, 221, 238);
}

#div9:hover {
    background-color: rgb(210, 221, 238);
}


nav {
    display:flex;
    flex-direction: none;
    justify-content: space-between;
    height: absolute;
    width: absolute;
    background-color: rgb(15, 42, 82);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
  }


nav a {
    width:absolute;
    font-size: 8px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* be able to link each concert to its information */

#events {
    color: rgb(15, 42, 82);
    font-size: 15px;
    text-align: left;
}

#div11, #div12, #div13, #div14, #div15, #div16, #div17, #div18, #div19 {
    color: rgb(15, 42, 82);
    font-size: 8px;
    text-align: left;
}

