/*General page styles*/
body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
  }


/*Card container styles*/
.card {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.5em;
  }

/*Header and footer styles*/
.card header,.card footer {
  height: 3em;
  padding: 1em;
}

/*Main business card contents styles*/
.card article img {
  max-height: 100%;
  float: right;
 
}

h2 p {
margin: 0em;
}

.card article {
  height: 12em;
  background-color: red;
  padding-left: 1em;
  color: #ccc;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  border-radius: 0em 0em 0em 0em;
}

h2 {
  font-size: 2em;
  line-height: 1em;
 
}

article p {
  padding-top: 1em;
}

footer p {
  font-size: 1.5em;
  line-height: 0em;
  text-align: center;
}

/*Elena Card*/
.elenaCard {
  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: #fcdcf9;
  border: 0.2em solid #062766;
  border-radius: 1.5em;
}

.elenaCard header, .elenaCard footer {
  height: 3em;
  padding: 1em;
}

.elenaCard article img {
  max-height: 100%;
  float:right;
}

.elenaCard article {
  height: 12em;
  padding-left: 1em;
  background-color:#fcdcf9;
  color:#062766;
  font-family: 'Times New Roman';
  background-image: linear-gradient(rgba(0,0,0,0.13), rgba(0,0,0,0.13));
  border-radius: 0em 0em 0em 0em;
}

