/* maybe add a save or enter button */
/* need 9 blank spaces for the numbers */
/* numbers will be saved on screen when save button is pressed */
/* then it will move to the right to complete the line */
/* numbers will range from 0 to 9 --- make them random when spin is pressed */
/* when phone number is input as desired, have another screen pop up or something (scary clown?) */


h1 {
  font-size: 40px;
  color: white;
  letter-spacing: -1px;
  position: absolute;
  align-items: center;
  top: 30px;
  margin: 0;
  border: 2px solid blanchedalmond;
  background-color: red;
}

body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/* #stripes { */
#wheel-container {
  position: absolute;
  align-items: center;
  display: flex;

  /* added in class
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  */
}

/* added in class 
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
*/


/* #numbers { */
.wheel {
  position: absolute;
  align-items: center;
  top: 150px;
  width: 300px;
  height: 300px;
  border-radius: 50%;

  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  
  }

  @keyframes rotate {
    from{ transform: rotate(-360deg);}
    to{ transform: rotate(360deg);}
  }
  

#result-container {
  font-size: 20px;
  color: blanchedalmond;
  text-align: center;
  margin-top: 20px;
}


#number-container {
  display: flex;
  margin-top: 500px;
}

.number-slot {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

button {
  margin-top: 20px;
  font-size: 16px;
  padding: 0px;
  cursor: pointer;
  align-items: center;
  display: absolute;
}


/* .submit {
  position: absolute;
  top: 0%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 500px;
  border-radius: 50%;
  border: 4px solid lightblue;
  background-color: blanchedalmond;
  color: black;
  box-shadow: 0 5px 20px black;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
}
*/

.spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid lightblue;
  background-color: blanchedalmond;
  color: black;
  box-shadow: 0 5px 20px black;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;

}



.save {
  position: absolute;
  align-items: center;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 4px solid lightblue;
  background-color: blanchedalmond;
  color: black;
  box-shadow: 0 5px 20px black;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
}


/* .stripe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
*/

/* .stripe:after {
  position: absolute;
  content: '';
  width: 32px;
  height: 32px;
  background: add pic of arrow
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}
*/

/* .numbers {
  width: 100%;
  height: 100%;
  position: relative;
  font-weight: bold;
  border-radius: 50%;
  border: 10px solid white;
  overflow: hidden;
  
}
*/