/* maybe add a save or enter button */
/* need 9 blank spaces for the numbers */
/* numbers will be saved on screen when save button is pressed */
/* then it will move to the right to complete the line */
/* numbers will range from 0 to 9 --- make them random when spin is pressed */
/* when phone number is input as desired, have another screen pop up or something (scary clown?) */



body {
    background-color: red;
}

h1 {
    font-size: 50px;
    color: white;
    letter-spacing: -1px;
    position: absolute;
    margin: 0;
   
}

#wheel {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  margin: 20px auto;
  transition: transform 5s ease-in-out;
  overflow: hidden;
}

.stripe {
  position: absolute;
  width: 100%;
  height: 10%;
  background: linear-gradient(90deg, white, red, white, red, white, red, white, red, white, red);
  clip-path: polygon(0,0,100% 0, 100% 100%, 0 100%);
  transform-origin: 50% 50%;
}

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)rotate(0deg);
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

#numberTable {
  width: 300px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: center;
}

.highlight {
  background-color: yellow;
}