
.image {
display: block;
width: 500px;
height:auto;

}

.overlay1 img{
   position: absolute;
    width: 250px;
    height: auto;
    left: 7.7px;
    top: 312.9px;


}

.overlay2 img{
    position: absolute;
    width: 100px;
    height: auto;
    left: 20px;
    top: 4.5px;

}