/* back tab
intro
pictures: me, home, boulder
*/

@font-face {
    font-family: "batheyregular";
    src: url("https://elenawingard.me/website/elenawingard.html/batheyregular.woff2") format("woff2"),
         url("https://elenawingard.me/website/elenawingard.html/batheyregular.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

p {
    font-family: "batheyregular";
}


.button {
    margin: 7px 0;
    border: 2px solid #01366e;
    border-radius: 8px;
    background: none;
    color: #01366e;
    cursor: pointer;
    padding: 6px 10px;
    vertical-align: middle;
    height: 4vw;
    width: 3vw;
}


.firstsection {
    background-color: #01366e;
    height: 400px;
    padding: 1vw;

}

.secondsection {
    background-color: #01366e;
    height: 400px;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 80%;
    margin: auto;
    height: 80%;
}